/*----- Colors -----*/
$header-bg: #666666;
$header-color: #f5f5f5;

.content {
  flex-grow: 1;
}

.content-header {
  padding: 1rem;
  font-size: 18px;
  background: $header-bg;
  color: $header-color;
}

.content-body {
  max-width: 800px;
  margin: auto;
}